.MessagesContainer {
  display: flex;
  flex-direction: column;
  max-height: 37em;
  min-height: 37em;
  padding-top: 1em;    
  overflow-y: scroll;
}

.MessagesContainer::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.MessagesContainer::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
}

.MessagesContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.typing{
  font-size: 0.7em;
  margin-left: 1em;
  color: #CCCCCC;
}
